:root {
  --mainFont: Rajdhani, Calibri, Tahoma;
  /* ------- SIZES ------- */
  --target: 36px;
  /* ------- COLORS ------- */
  --red: hsl(0, 100%, 45%);
  /* --liteGray: hsl(0,0%,95%); */
  --liteGray: hsla(0,0%,0%,0.05);
  /* ------- CORNERS ------- */
  --outside: 20px;
  --inside: 10px;
}

html, body, #root {
  min-height: 100vh;
  box-sizing: border-box;
  font-family: var(--mainFont);
  font-size: 18px;
}

body {
  position: relative;
}

body::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(./assets/images/plgp-pokemon-riding.jpg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.05;
  z-index: -1;
}

::-webkit-scrollbar {
  display: none;
}

a, a:visited {
  text-decoration: none;
  /* color: white; */
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  min-height: inherit;
  text-align: center;
  box-sizing: border-box;
}

header, footer {
  background-color: var(--red);
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 3rem;
  /* background-color: blue; */
}

/* ------------- MODAL ------------- */

#modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0,0%,100%,0.5);
  transition: 0.2s ease-out;
  opacity: 0;
  z-index: -1;
}

#modal.active {
  opacity: 1;
  z-index: 1000;
}

main section {
  max-width: 50vw;
}

/* ::::::::::::: NAV ::::::::::::: */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

#site-title { margin-block: 0.5em;}

nav a {
  color: white;
  font-weight: 500;
}

nav a:not(:last-of-type){
  margin-right: 1em;
}


/* ::::::::::::: TEAM CACHE ::::::::::::: */

#team-cache {
  position: relative;
  display: flex;
  justify-content: center;
  /* align-self: flex-start; */
  /* width: 50vw; */
  /* background-color: hsla(0,0%,100%,0.95); */
  margin: 1em auto;
  padding-left: 0;
  padding: 0.25em;
  list-style-type: none;
  border: 1px solid var(--liteGray);
  border-radius: 100px;;
  box-sizing: border-box;
}

#team-cache li {
  --size: 3rem;
  cursor: pointer;
  flex-shrink: 0;
  position: relative;
  width: var(--size);
  height: var(--size);
  background-color: var(--liteGray);
  box-sizing: border-box;
  border-radius: 50%;
}

#team-cache li:not(:last-of-type){
  margin-right: 0.5em;
}

#team-cache li.selected{
  outline: 2px solid var(--red);
} 

#team-cache .cache-sprite {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: 1px solid red; */
  box-sizing: border-box;
  transition: 0.1s ease-out;
  z-index: 1;
}

#team-cache li:hover .cache-sprite {
  transform: scale(1.25, 1.25);
}

#add-team-btn {
  --size: 1em;
  cursor: pointer;
  appearance: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -0.25em;
  bottom: 0;
  /* background-color: var(--liteGray); */
  color: white;
  /* font-family: 'Courier New', Courier, monospace; */
  /* font-weight: 600; */
  font-size: 1.5rem;
  text-align: center;
  line-height: 1em;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transform: translateX(100%);
  margin-left: 0.5em;
  padding: 0;
  /* border: 1px solid var(--liteGray) */
  border: none;
}

#add-team-btn:hover,
#team-cache.full #add-team-btn {background-color: var(--red);}

#add-team-btn::after {
  content: 'Add team';
  position: absolute;
  right: -0.5em;
  color: var(--red);
  white-space: nowrap;
  transform: translateX(75%);
  font-size: 0.5rem;
  text-transform: uppercase;
  transition: 0.1s ease-out;
  opacity: 0;
}

#add-team-btn:hover::after {
  transform: translateX(100%);
  opacity: 1;
}

@keyframes swell {
  
  0% {
    transform: translateX(100%) scale(1);
    filter: brightness(1.5);
  }
  50% {
    transform: translateX(100%) scale(1.1);
  }
  100% {
    transform: translateX(100%) scale(1);
    filter: brightness(1.25);}
}

#team-cache.full #add-team-btn {
  animation: swell 0.5s 2;
}

/* ::::::::::::: SCOUT PAGE ::::::::::::: */
#scoutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ::::::::::::: SEARCH BAR ::::::::::::: */

#pokeSearch {
  display: flex;
  overflow: hidden;
  background-color: hsla(0,0%,100%,0.95);
  padding: 10px;
  border: 3px solid var(--red);
  border-radius: 100px;
}

#pokeSearch #search-input {
  appearance: none;
  color: var(--red);
  caret-color: var(--liteGray);
  font-family: var(--mainFont);
  font-weight: 600;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  border: none;
  outline: none;
}

#pokeSearch #search-input::placeholder{
  color: hsla(0,0%,0%,0.15);
  text-transform: none;
  font-style: italic;
}

#pokeSearch button {
  --size: 2em;
  cursor: pointer;
  margin-left: 0.5em;
  padding: 0;
  background-color: transparent;
  width: var(--size);
  height: var(--size);
  border: none;
}

#pokeSearch button svg {
  fill: var(--liteGray);
  width: 100%;
  height: 100%;
  transition: 0.1s ease-out;
}

#pokeSearch button:hover svg {
  fill: red;
}

/* ::::::::::::: CARD ::::::::::::: */

.card {
  position: relative;
  display: flex;
  align-items: center;
}

@keyframes bob {
  from {transform: translateX(10px)}
  to {transform: translateX(0)}
}

.cycle.prev {
  order: 1;
  /* padding-right: 2rem; */
  transform: scaleX(-1);
}

.card-main {order: 2;}

.cycle.next {
  order: 3;
}

.cycle {
  cursor: pointer;
  width: var(--target);
  font-size: 5rem;
  color: var(--red);
  padding-left: 2rem;
  transition: 0.1s ease-out;
}

@keyframes bob {
  0% {transform: translateX(0);}
  50% {transform: translateX(10px);}
  100% {transform: translateX(0);}
}

.cycle .poke-arrow {
  fill: var(--red);
  width: 100%;
  overflow: visible;
}

.cycle .poke-arrow .outer{
  transition: 0.1s ease-out;
}

.cycle:hover .poke-arrow .outer {
  animation: bob 0.75s infinite;
}

.card-main {
  --size: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--size);
  margin-block: 2rem;
  padding-bottom: 1rem;
  background-color: var(--red);
  border-radius: var(--outside);
  box-sizing: border-box;
  box-shadow: 2px 2px 5px hsla(0,0%,0%,0.15);
  overflow: hidden;
}

.card .poke-pic {
  width: 100%;
  padding: 2em;
  /* border: 1px solid red; */
  /* background-color: black; */
  box-sizing: border-box;
}

.card .poke-name {
  position: relative;
  margin-block: 0 0.25em;
  color: white;
  line-height: 1em;
}

.card .poke-name::before {
  content: '#' attr(data-order);
  display: block;
  text-align: left;
  font-size: small;
  line-height: 1em;
}

.card .poke-type {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.card .poke-type li {
  display: block;
  padding: 0.25em 1em;
  color: white;
  font-size: 0.75rem;
  font-weight: 600;
  text-shadow: 1px 1px 0 hsla(0,0%,0%,0.15);
  text-transform: uppercase;
  line-height: 1em;
  box-shadow: 2px 2px 2px hsla(0,0%,0%,0.15);
  border-radius: 100px;
}

.card .poke-type li:not(:last-of-type){
  margin-right: 0.5rem;
}

/* ------------- SUBMIT ------------- */

button#add-to-team{
  appearance: none;
  cursor: pointer;
  position: relative;
  display: flex;
  width: 5vmin;
  min-width: var(--target);
  margin: 0 auto;
  padding: 0;
  border: 0;
  background-color: transparent;
  box-sizing: border-box;
}

button#add-to-team .submit-icon {
  width: 100%;
  fill: var(--red);
  transition: 0.1s ease-out;
}

button#add-to-team.current .submit-icon {
  fill: var(--liteGray)
}

button#add-to-team.current:hover .submit-icon {
  fill: var(--red)
}

@keyframes blink {
  from {filter: brightness(2)}
  to {filter: brightness(1)}
}

button#add-to-team.current:hover .submit-icon .center {
  animation: blink 1s infinite;
}

/* button#add-to-team.current::before {
  opacity: 0;
  color: var(--red);
  text-align: center;
  transition: 0.1s ease-out;
} */

/* button#add-to-team.current:hover::before {
  content: 'Release';
  position: absolute;
  width: 100%;
  opacity: 1;
  z-index: 1;
  transform: translateY(-100%);
} */


/* ::::::::::::: ADD TEAM FORM ::::::::::::: */

#addTeamForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: 50vh;
  padding: 1em;
  /* border: 1px solid red; */
  background-color: hsla(0,0%,100%,0.99);
  border-radius: var(--inside);
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.1);
}

#addTeamForm h2 {
  color: var(--red);
  font-weight: 600;
}

#addTeamForm label h4 {
  text-align: left;
  margin: 0;
  color: silver;
  font-weight: normal;
}

#addTeamForm input[type='text']{
  appearance: none;
  outline: none;
  padding: 0.5em;
  color: var(--red);
  /* width: 100%; */
  border: 2px solid var(--red);
  border-radius: 5px;
}

#addTeamForm button {
  appearance: none;
  justify-self: flex-end;
  cursor: pointer;
  margin-top: 1em;
  padding: 1em;
  text-transform: uppercase;
  background-color: var(--red);
  color: white;
  line-height: 1em;
  border: none;
  border-radius: 5px;
}

#addTeamForm button

/* ::::::::::::: ABOUT ::::::::::::: */

#aboutPage h1 {color: var(--red)}

#aboutPage p{
  color: silver;
  text-align: justify;
  text-align-last: center;
}

/* ::::::::::::: FOOTER ::::::::::::: */

footer {
  justify-self: flex-end;
}