:root {
  --red: hsl(0, 100%, 45%);
  --liteGray: hsl(0,0%,90%);
}

html, body, #root {
  min-height: 100vh;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* min-height: inherit; */
  text-align: center;
  box-sizing: border-box;
}

header, footer {
  background-color: var(--red);
}

main {
  margin-bottom: 3rem;
}

#team-cache {
  display: flex;
  justify-content: center;
  width: 50vw;
  margin: 1em auto;
  padding-left: 0;
  padding: 0.25em;
  list-style-type: none;
  border: 1px solid var(--liteGray);
  border-radius: 100px;;
  box-sizing: border-box;
}

#team-cache li {
  --size: 1.5rem;
  cursor: pointer;
  width: var(--size);
  height: var(--size);
  background-color: var(--liteGray);
  box-sizing: border-box;
  border-radius: 50%;
}

#team-cache li:not(:last-of-type){
  margin-right: 0.5em;
}